{% if not JXTOOLSJS %}
	{% INCLUDEJS '@kaileymsnay_qte/jxtools.js' %}
	{% DEFINE JXTOOLSJS = true %}
{% endif %}

{% if TOPIC_ATTRIBUTE %}
{% if S_WARNINGS %}
<div id="list_inner_hidden_container" jxdom-closest="dl.details" jxdom-find="dd:nth-of-type(6)" jxdom-action="replace">
{% else %}
<div id="list_inner_hidden_container" jxdom-closest="dl.details" jxdom-find="dd:nth-of-type(5)" jxdom-action="replace">
{% endif %}
<dd>{% if ACTIVE_TOPIC != '' %}<strong>{{ TOPIC_ATTRIBUTE}} <a href="{{ U_ACTIVE_TOPIC }}">{{ ACTIVE_TOPIC }}</a></strong><br />({{ ACTIVE_TOPIC_POSTS }} / {{ ACTIVE_TOPIC_PCT }}){% else %} - {% endif %}</dd>
</div>
{% endif %}
